.max-width {
    max-width: 1110px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.main-container {
    text-align: center;
}
.products {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    .single-product {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 40px;
        text-align: center;
    }
}

img {
    height: auto;
    width: 100%;
}
.btn {
    padding: 10px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 10px;
}